$headlineColor: #FFFFFF;
$searchBackground: #FFFFFF;

 a:hover {
    color:#CCC !important ;
}
.head {
    height: 94vh;
  }
header{
    min-height: 94vh;
    overflow: hidden;
    position: relative;
    max-width: 1920;
    background-position: center center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.header-gradient{
    background: linear-gradient(rgba(0,0,0,.493),rgba(0,0,0,.493));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}

h2{
    color: $headlineColor;
}

.btn-search {
    background-color: $searchBackground;
}

.gallery{
    padding-top: 150px;
}

.w-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20% !important;
            flex: 0 0 20% !important;
    max-width: 20%;
  }

  .search-results{
    height:90%;
    overflow: scroll;
    background-color: orange;
  }

  .image-box {
  max-width: 200;
  width: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
  }
